:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #0134cb;
    --brandGreen: rgb(0, 101, 1);
    --brandGrey: #dddddd;

}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    opacity: 1;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
  }

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}



h1 {
    font-family: 'Roboto', serif;
    color: var(--brandDarkBlue);
    font-weight: 400;
    margin:0.2em auto;
}


h2 {
    padding: 0.2em 0 0.2em 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: var(--brandDarkBlue);
    text-transform: uppercase;
}

h5, h3 {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: var(--brandGreen);
    text-align: center;
}

h4 {
    font-family: 'Inter', sans-serif;
    padding-bottom: 0.2em;
    color: var(--brandGreen);
    margin: 0 auto;
    font-weight: 500;
}


.marker {
    cursor:pointer;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
    border-radius: 0;
    box-shadow: none!important;
    border: 1px solid #ddd!important;
}